.latest {
  padding-bottom: 20px;
}

.card {
  border-top: 1px solid rgba(#505466, 0.2);
  padding: 20px 0;
}

.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    margin-right: 10px;
  }

  color: white;
}

.title {
  color: #6d738c;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 10px;
}

.content {
  color: rgba(white, 0.75);
  font-size: 1.75rem;
  font-weight: 700;
}
